<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>COTTON PLANT DISEASE DETECTION</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
        .Content-h5 {
 
            padding: 15px;
            background-color: rgb(155, 156, 156);
            color: white;
            border-radius: 15px;
            margin-bottom: 25px;
}
    </style>
</head>
 
<body>
 
    <div>
        <img src="static/images/image1.jpg" class="w3-border w3-padding" alt=""
            width="1347" height="400">
    </div>
 
    <div class="container my-2">
        <div class="row mb-5">
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                     
                </span>
            </div>
 
            <div class="col-sm">
 
                <div>
                    <h1 style="padding: 15px; background-color: rgb(0, 255, 149); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        output </h1>
                </div>
                <div class="details">
 
                    <h6>
 
                        <b>There is no disease on the cotton plant.</b></br>
                       </br></br>
                        <b>कपास के पेड़ पर कोई बीमारी नहीं है। </b></br>
                        </br></br>
                       
                        <b>పత్తి చెట్టుపై వ్యాధి లేదు..</b></br></br>
 
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container Content-h5">
 
            <h5 style="font-size: 1rem;" class="text-center my-3 contents">
                Contact:
                abcdef.business@gmail.com</h5>
 
        </div>
    </section>
</body>
 
</html>